@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body {line-height:1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
input[type=checkbox], input[type=radio]{vertical-align:middle;position:relative}
input[type=radio]{bottom:2px}
#accessibility, .skip, hr, legend, caption{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
button{padding:0;margin:0;border:0;background:0;line-height:normal;cursor:pointer;outline:none;box-shadow:none}
li,a,button{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.clearfix{*zoom:1}
.clearfix:after{display:block;content:'';clear:both;}


/* layout */
img{max-width:980px !important}
body{font-size:0}
#fWrap{position:relative;width:980px;margin:0 auto}

/* #header */
#header{position:relative;height:379px;background-position:center top;background-repeat:no-repeat}
#fWrap.ko #header{background-image:url(../images/bg-header-ko.jpg)}
#fWrap.en #header{background-image:url(../images/bg-header-en.jpg)}
#fWrap.ja #header{background-image:url(../images/bg-header-ja.jpg)}
#fWrap.th #header{background-image:url(../images/bg-header-th.jpg)}
#fWrap.zh-CN #header{background-image:url(../images/bg-header-hans.jpg)}
#fWrap.zh-TW #header{background-image:url(../images/bg-header-hant.jpg)}


/* #roulette */
#container #roulette{position:relative;height:800px;margin-top:-10px}
#container #roulette .bg{position:absolute;left:0;top:0;width:100%;height:800px;z-index:1}
#fWrap.ko #roulette .bg{background-image:url(../images/bg-quest-ko.png)}
#fWrap.en #roulette .bg{background-image:url(../images/bg-quest-en.png)}
#fWrap.ja #roulette .bg{background-image:url(../images/bg-quest-ja.png)}
#fWrap.th #roulette .bg{background-image:url(../images/bg-quest-th.png)}
#fWrap.zh-CN #roulette .bg{background-image:url(../images/bg-quest-hans.png)}
#fWrap.zh-TW #roulette .bg{background-image:url(../images/bg-quest-hant.png)}

#container #roulette .btn_start{position:absolute;left:373px;top:247.5px;width:230px;height:230px;font-size:0;background-position:left bottom;background-repeat:no-repeat;z-index:2}
#container #roulette .btn_start.disabled{background-position:left top}
#fWrap.ko #roulette .btn_start{background-image:url(../images/btn-quest-ko.png)}
#fWrap.en #roulette .btn_start{background-image:url(../images/btn-quest-en.png)}
#fWrap.ja #roulette .btn_start{background-image:url(../images/btn-quest-ja.png)}
#fWrap.th #roulette .btn_start{background-image:url(../images/btn-quest-th.png)}
#fWrap.zh-CN #roulette .btn_start{background-image:url(../images/btn-quest-hans.png)}
#fWrap.zh-TW #roulette .btn_start{background-image:url(../images/btn-quest-hant.png)}

#container #roulette .roulette_board{position:absolute;left:218px;top:93px;width:540px;height:540px;z-index:0}
#container #roulette .roulette_board .cover{position:absolute;left:0;top:0;width:540px;height:540px;background:rgba(0, 0, 0, 0.5);z-index:1}
#container #roulette .roulette_board .spinner{width:540px;height:540px;background:url(../images/img-roulette.png) no-repeat}
#container #roulette .roulette_board .spinner.item0{transform:rotate(0deg)}
#container #roulette .roulette_board .spinner.item1{transform:rotate(-36deg)}
#container #roulette .roulette_board .spinner.item2{transform:rotate(-72deg)}
#container #roulette .roulette_board .spinner.item3{transform:rotate(-108deg)}
#container #roulette .roulette_board .spinner.item4{transform:rotate(-144deg)}
#container #roulette .roulette_board .spinner.item5{transform:rotate(-180deg)}
#container #roulette .roulette_board .spinner.item6{transform:rotate(-216deg)}
#container #roulette .roulette_board .spinner.item7{transform:rotate(-252deg)}
#container #roulette .roulette_board .spinner.item8{transform:rotate(-288deg)}
#container #roulette .roulette_board .spinner.item9{transform:rotate(-324deg)}

#container #roulette .pointer{position:absolute;left:456px;top:55px;width:76px;height:102px;background:url(../images/bg-pointer.png) no-repeat;z-index:1}

#container #roulette .status > div{overflow:hidden;position:absolute;display:table;table-layout:fixed;z-index:2}
#container #roulette .status div div{display:table-cell;width:100%;height:100%;text-align:right;vertical-align:middle}
#container #roulette .status .wrap_left{left:487px;top:22px;width:120px;height:30px;color:#ff324e;font-size:30px}
#container #roulette .status .wrap_day{left:76px;top:150px;width:110px;height:42px;color:#2b6cff;font-size:40px;letter-spacing:-1px}
#container #roulette .status .wrap_use{left:51px;top:365px;width:88px;height:34px;color:#5d2446;font-size:25px}
#container #roulette .status .wrap_total{right:64px;top:365px;width:95px;height:34px;color:#5d2446;font-size:25px}


/* #questInfo */
#container #questInfo{position:relative;height:344px;margin-top:-10px;z-index:1}
#fWrap.ko #container #questInfo{background-image:url(../images/bg-info-ko.jpg)}
#fWrap.en #container #questInfo{height:354px;background-image:url(../images/bg-info-en.jpg)}
#fWrap.ja #container #questInfo{height:354px;background-image:url(../images/bg-info-ja.jpg)}
#fWrap.th #container #questInfo{background-image:url(../images/bg-info-th.jpg)}
#fWrap.zh-CN #container #questInfo{background-image:url(../images/bg-info-hans.jpg)}
#fWrap.zh-TW #container #questInfo{background-image:url(../images/bg-info-hant.jpg)}


/* #questTotal */
#container #questTotal{height:460px;margin-top:-10px;background:url(../images/bg-quest2-1.jpg) no-repeat}
#fWrap.en #container #questTotal,
#fWrap.ja #container #questTotal{height:450px;background:url(../images/bg-quest2-2.jpg) no-repeat}

#container #questTotal ul{width:940px;padding-top:10px;margin:0 auto}
#container #questTotal ul:after{display:block;content:'';clear:both}
#container #questTotal ul li{float:left;position:relative;width:180px;height:356px;margin-right:10px}
#container #questTotal ul li:last-of-type{float:right;margin:0;}

#container #questTotal ul li .wrap_title{position:absolute;left:10px;top:9px;display:table;width:160px;height:79px}
#container #questTotal ul li .wrap_title .quest-title{display:table-cell;vertical-align:middle;color:#293965;font-size:20px;line-height:25px;text-align:center;letter-spacing:-1px}
#container #questTotal ul li .wrap_title .quest-title span{color:#423dff;font-weight:bold}

#container #questTotal ul li .wrap_reward{position:absolute;left:10px;bottom:88px;display:table;width:160px;height:61px}
#container #questTotal ul li .wrap_reward .reward-title{display:table-cell;color:#64e0ff;font-size:17px;line-height:19px;letter-spacing:-1px;text-align:center;vertical-align:middle}

#fWrap.en #container #questTotal ul li .wrap_reward .reward-title{letter-spacing:0px}

#container #questTotal ul li .wrap_btn{display:table;position:absolute;left:10px;bottom:10px;width:160px;height:68px}
#container #questTotal ul li .wrap_btn .btn{display:table-cell;width:100%;height:100%;padding-bottom:5px;font-size:26px;text-align:center;font-weight:bold;vertical-align:middle;background:url(../images/btn-quest2.png) left -9999px no-repeat}
#container #questTotal ul li .wrap_btn .btn .btn_normal{color:#6b96bd}
#container #questTotal ul li .wrap_btn .btn .btn_end{display:none;color:#61678a}
#container #questTotal ul li.ready .wrap_btn .btn{cursor:pointer;background-position:left top}
#container #questTotal ul li.ready .wrap_btn .btn .btn_normal{color:#316154}

#container #questTotal ul li.end .wrap_btn .btn{background-position:left bottom}
#container #questTotal ul li.end .wrap_btn .btn .btn_normal{display:none}
#container #questTotal ul li.end .wrap_btn .btn .btn_end{display:inline}


/* #footer */
#footer{position:relative;height:156px;margin-top:-10px;background:url(../images/bg-footer1-1.jpg) no-repeat}
#fWrap.en #footer,
#fWrap.ja #footer{background:url(../images/bg-footer1-2.jpg) no-repeat}
#footer ul{width:912px;padding-top:10px;margin:0 auto}
#footer li{margin-bottom:10px;font-size:18px;color:#abf1ff}
#footer li span{margin-right:8px}


/* test */
#fWrap .test{position:fixed;right:0;top:120px;z-index:10}
#fWrap .test button{display:block;width:120px;padding:10px 0;border-right:2px solid #000;border-bottom:2px solid #000;margin-bottom:5px;color:#000;font-size:13px;text-align:center;background:#ccc;z-index:20}
#fWrap .test button.active{font-weight:bold;background:#fff}


/* layer */
#fLayer{visibility:hidden;position:absolute;left:0;top:0;width:100%;height:100%}
#fLayer .bg_layer{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.9);z-index:15}
#fLayer .modal_layer{position:fixed;left:50%;top:0;width:609px;height:376px;margin:0 0 0 -304px;z-index:20;transition: transform 0.3s ease;transform: scale(0,0)}
#fLayer.active{visibility:visible}
#fLayer.active .modal_layer{transform: scale(1,1)}
#fLayer .modal_layer .wrap_layer{position:relative;padding-top:73px;border:2px solid #b64c2b;background:#1d0508}
#fLayer .modal_layer .wrap_layer .title{display:none}
#fLayer .modal_layer .wrap_layer .msg{position:relative;top:-1px;display:table;width:100%;min-height:115px;text-align:center;}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg{display:table-cell;padding:10px 20px 20px 20px;color:#ffb606;font-size:33px;line-height:40px;font-weight:bold;vertical-align:middle}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg span{display:block;padding-top:10px;color:#d0a94a;font-size:20px;letter-spacing:0}
#fLayer .modal_layer .wrap_layer .btn_area{position:relative;top:-2px;height:145px;text-align:center}
#fLayer .modal_layer .wrap_layer .btn_area button{display:inline-block;width:234px;height:90px;color:#e5ed00;font-size:30px;line-height:90px;font-weight:bold;text-align:center;background:url(../images/btn-layer.jpg) no-repeat}