@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body {line-height:1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
input[type=checkbox], input[type=radio]{vertical-align:middle;position:relative}
input[type=radio]{bottom:2px}
#accessibility, .skip, hr, legend, caption{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
button{padding:0;margin:0;border:0;background:0;line-height:normal;cursor:pointer;outline:none;box-shadow:none}
li,a,button{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.clearfix{*zoom:1}
.clearfix:after{display:block;content:'';clear:both;}


/* layout */
img{max-width:980px !important}
body{font-size:0}
#fWrap{position:relative;width:980px;margin:0 auto}

/* #header */
#header{position:relative;width:100%;height:443px}
#fWrap.ko #header{background:url(../images/bg-header-ko.jpg)}
#fWrap.en #header{background:url(../images/bg-header-en.jpg)}
#fWrap.ja #header{background:url(../images/bg-header-ja.jpg)}
#fWrap.th #header{background:url(../images/bg-header-th.jpg)}
#fWrap.zh-CN #header{background:url(../images/bg-header-hans.jpg)}
#fWrap.zh-TW #header{background:url(../images/bg-header-hant.jpg)}


/* #container */
#container{position:relative}


/* #info(포인트 등 정보) */
#container #info{position:absolute;left:244px;top:185px;width:493px;height:493px;z-index:10}
#container #info .wrap_info{position:relative;width:100%;height:493px}
#fWrap.ko #container #info{background:url(../images/bg-info-ko.jpg)}
#fWrap.en #container #info{background:url(../images/bg-info-en.jpg)}
#fWrap.ja #container #info{background:url(../images/bg-info-ja.jpg)}
#fWrap.th #container #info{background:url(../images/bg-info-th.jpg)}
#fWrap.zh-CN #container #info{background:url(../images/bg-info-hans.jpg)}
#fWrap.zh-TW #container #info{background:url(../images/bg-info-hant.jpg)}

#container #info div{display:table;position:absolute}
#container #info div span{display:table-cell;vertical-align:middle;text-align:right}

#container #info #currentPoint{right:81px;top:37px;width:134px;height:66px}
#container #info #currentPoint .value{color:#fedb4d;font-size:40px;font-weight:bold}

#container #info #usePoint{right:59px;top:138px;width:120px;height:25px}
#container #info #totalPoint{right:59px;top:174px;width:120px;height:25px}
#container #info #usePoint .value,
#container #info #totalPoint .value{color:#efd18a;font-size:25px;font-weight:bold}

#container #info #btnDice{position:absolute;right:37px;bottom:42px;width:409px;height:98px;cursor:pointer;z-index:10}
#container #info #btnDice .wrap_dice{display:block;position:relative;width:100%;height:100%}
#container #info #btnDice .wrap_dice .bg{position:absolute;left:0;top:0;width:88px;height:97px;background:url(../images/img-dice.jpg) no-repeat}
#container #info #btnDice .wrap_dice .bg img{display:none;width:100%;height:auto}
#container #info #btnDice.loading .wrap_dice .bg img{display:inline}
#container #info #btnDice .wrap_dice .bg.dice1{background-position:left top}
#container #info #btnDice .wrap_dice .bg.dice2{background-position:left -97px}
#container #info #btnDice .wrap_dice .bg.dice3{background-position:left -194px}
#container #info #btnDice .wrap_dice .bg.dice4{background-position:left -291px}
#container #info #btnDice .wrap_dice .bg.dice5{background-position:left -388px}
#container #info #btnDice .wrap_dice .bg.dice6{background-position:left bottom}


/* #questMap(마블맵) */
#container #questMap{position:relative;top:-10px;height:907px;padding-top:20px;background:url(../images/bg-quest.jpg) center top no-repeat}

#fWrap.zh-CN #container #questMap,
#fWrap.zh-TW #container #questMap{background-image:url(../images/bg-quest-hans.jpg)}

#container #questMap .wrap_quest{position:relative;width:843px;height:843px;margin-left:69px}
#container #questMap ul:after{display:block;content:'';clear:both}
#container #questMap .map{display:inline-block;position:relative;width:167px;height:167px;color:#151412;font-size:15px}
#container #questMap .map:nth-of-type(2n){color:#999186 !important}
#container #questMap .map .reward-title{position:absolute;left:10px;bottom:15px;width:147px;font-weight:bold;text-align:center;}
#container #questMap .map.active{background:#ccc}

#container #questMap .top{position:absolute;left:169px;top:0;width:674px;height:167px}
#container #questMap .top .map{float:left;margin-right:2px}
#container #questMap .top .map:last-of-type{float:right;margin:0}
#container #questMap .r_side{position:absolute;right:0px;top:169px;width:167px;height:507px}
#container #questMap .r_side .map{margin-bottom:2px}
#container #questMap .r_side .map:last-of-type{margin:0}
#container #questMap .bottom{position:absolute;left:0;bottom:0;width:100%;height:167px}
#container #questMap .bottom .map{float:right;margin-left:2px}
#container #questMap .bottom .map:last-of-type{float:left;margin:0}

#container #questMap .l_side{position:absolute;left:0;top:0px;width:167px;height:674px}
#container #questMap .l_side .wrap_map{position:relative;height:100%}
#container #questMap .l_side .map{position:absolute;}
#container #questMap .l_side .btn_quest13{bottom:0;border-bottom:0}
#container #questMap .l_side .btn_quest14{bottom:169px;border-bottom:0}
#container #questMap .l_side .btn_quest15{bottom:338px}
#container #questMap .l_side .btn_quest16{top:0}

#container #questMap.play .map,
#container #questMap .map.active{color:#352a12}

#container #questMap.play .map:nth-of-type(2n),
#container #questMap .map:nth-of-type(2n).active{color:#fff !important}

#container #questMap.play .map,
#container #questMap .map.active{background:url(../images/btn-quest.jpg) no-repeat}

#container #questMap.play .btn_quest1{background-position:left top}
#container #questMap .btn_quest1.active{background-position:right top}

#container #questMap.play .btn_quest2{background-position:left -167px}
#container #questMap .btn_quest2.active{background-position:right -167px}

#container #questMap.play .btn_quest3{background-position:left -334px}
#container #questMap .btn_quest3.active{background-position:right -334px}

#container #questMap.play .btn_quest4{background-position:left -501px}
#container #questMap .btn_quest4.active{background-position:right -501px}

#container #questMap.play .btn_quest5{background-position:left -668px}
#container #questMap .btn_quest5.active{background-position:right -668px}

#container #questMap.play .btn_quest6{background-position:left -835px}
#container #questMap .btn_quest6.active{background-position:right -835px}

#container #questMap.play .btn_quest7{background-position:left -1002px}
#container #questMap .btn_quest7.active{background-position:right -1002px}

#container #questMap.play .btn_quest8{background-position:left -1169px}
#container #questMap .btn_quest8.active{background-position:right -1169px}

#container #questMap.play .btn_quest9{background-position:left -1336px}
#container #questMap .btn_quest9.active{background-position:right -1336px}

#container #questMap.play .btn_quest10{background-position:left -1503px}
#container #questMap .btn_quest10.active{background-position:right -1503px}

#container #questMap.play .btn_quest11{background-position:left -1670px}
#container #questMap .btn_quest11.active{background-position:right -1670px}

#container #questMap.play .btn_quest12{background-position:left -1837px}
#container #questMap .btn_quest12.active{background-position:right -1837px}

#container #questMap.play .btn_quest13{background-position:left -2004px}
#container #questMap .btn_quest13.active{background-position:right -2004px}

#container #questMap.play .btn_quest14{background-position:left -2171px}
#container #questMap .btn_quest14.active{background-position:right -2171px}

#container #questMap.play .btn_quest15{background-position:left -2338px}
#container #questMap .btn_quest15.active{background-position:right -2338px}

#container #questMap.play .btn_quest16{background-position:left bottom}
#container #questMap .btn_quest16.active{background-position:right bottom}


/* #questTotal(최종보상) */
#container #questTotal{position:relative;height:465px;margin-top:-10px;background:url(../images/bg-quest2.jpg) no-repeat}

#container #questTotal .tit{height:64px;background-position:left top;background-repeat:no-repeat}
#fWrap.ko #container #questTotal .tit{background-image:url(../images/tit-quest2-ko.jpg)}
#fWrap.en #container #questTotal .tit{background-image:url(../images/tit-quest2-en.jpg)}
#fWrap.ja #container #questTotal .tit{background-image:url(../images/tit-quest2-ja.jpg)}
#fWrap.th #container #questTotal .tit{background-image:url(../images/tit-quest2-th.jpg)}
#fWrap.zh-CN #container #questTotal .tit{background-image:url(../images/tit-quest2-hans.jpg)}
#fWrap.zh-TW #container #questTotal .tit{background-image:url(../images/tit-quest2-hant.jpg)}

#container #questTotal ul{width:843px;padding-top:10px;margin:0 auto}
#container #questTotal ul:after{display:block;content:'';clear:both}
#container #questTotal li{float:left;position:relative;width:138px;height:340px;padding:0 15px 0 14px;margin-right:2px}
#container #questTotal li:last-of-type{float:right;margin:0}

#container #questTotal ul li .wrap_title{display:table;width:100%;height:83px;}
#container #questTotal ul li .quest-title{display:table-cell;color:#1d3547;font-size:18px;line-height:22px;text-align:center;letter-spacing:-1px;vertical-align:middle}
#container #questTotal ul li .quest-title span{color:#c60000;font-weight:bold}

#container #questTotal ul li .wrap_reward{display:table;width:100%;height:56px;margin-top:110px}
#container #questTotal ul li .wrap_reward .reward-title{display:table-cell;padding:0 5px;color:#c0dcf0;font-size:16px;line-height:20px;text-align:center;vertical-align:middle}

#container #questTotal ul li .wrap_btn{display:table;position:absolute;left:1px;bottom:0;width:167px;height:70px}
#container #questTotal ul li .wrap_btn .btn{display:table-cell;padding-bottom:10px;font-size:30px;text-align:center;font-weight:bold;vertical-align:middle}
#container #questTotal ul li .wrap_btn .btn .btn_normal{color:#727d85}
#container #questTotal ul li .wrap_btn .btn .btn_end{display:none;color:#5e8aab}
#container #questTotal ul li.ready .wrap_btn .btn{cursor:pointer;background:url(../images/btn-quest2.jpg) left -70px  no-repeat}
#container #questTotal ul li:first-of-type.ready .wrap_btn .btn{background-position:left top}
#container #questTotal ul li:last-of-type.ready .wrap_btn .btn{background-position:left bottom}
#container #questTotal ul li.ready .wrap_btn .btn .btn_normal{color:#ffe400}
#container #questTotal ul li.end .wrap_btn .btn{background:url(../images/btn-quest2.jpg) right -70px no-repeat}
#container #questTotal ul li:first-of-type.end .wrap_btn .btn{background-position:right top}
#container #questTotal ul li:last-of-type.end .wrap_btn .btn{background-position:right bottom}
#container #questTotal ul li.end .wrap_btn .btn .btn_normal{display:none}
#container #questTotal ul li.end .wrap_btn .btn .btn_end{display:inline}

#fWrap.en #container #questTotal ul li .wrap_btn .btn{font-size:24px}

/* #footer */
#footer{display:table;clear:both;width:100%;height:185px;padding-top:10px;margin-top:-10px;background:url(../images/bg-footer.jpg) no-repeat}
#footer ul{display:table-cell;padding:0 30px;margin:0 auto;vertical-align:middle}
#footer li{position:relative;height:30px;color:#341e15;font-size:17px;line-height:22px;text-align:left}
#footer li .bu{overflow:visible;display:inline-block;width:16px;height:16px;margin-right:10px;vertical-align:middle;background:url(../images/bu-footer.png) no-repeat}
#footer li strong{color:#7f0101}


/* test */
#fWrap .test{position:fixed;right:0;top:120px;}
#fWrap .test button{display:block;width:120px;padding:10px 0;border-right:2px solid #000;border-bottom:2px solid #000;margin-bottom:5px;color:#000;font-size:13px;text-align:center;background:#ccc}
#fWrap .test button.active{font-weight:bold;background:#fff}


/* layer */
#fLayer{display:none;position:absolute;left:0;top:0;width:100%;height:100%}
#fLayer .bg_layer{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.9);z-index:15}
#fLayer .modal_layer{position:fixed;left:50%;top:0;width:609px;height:376px;margin:0 0 0 -304px;z-index:20;transition: transform 0.3s ease;transform: scale(0,0)}
#fLayer.active .modal_layer{transform: scale(1,1)}
#fLayer .modal_layer .wrap_layer{position:relative;padding-top:73px;border:2px solid #b64c2b;background:#1d0508}
#fLayer .modal_layer .wrap_layer .title{display:none}
#fLayer .modal_layer .wrap_layer .msg{position:relative;top:-1px;display:table;width:100%;min-height:115px;text-align:center;}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg{display:table-cell;padding:10px 20px 20px 20px;color:#ffb606;font-size:33px;line-height:40px;font-weight:bold;vertical-align:middle}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg span{display:block;padding-top:10px;color:#d0a94a;font-size:20px;letter-spacing:0}
#fLayer .modal_layer .wrap_layer .btn_area{position:relative;top:-2px;height:145px;text-align:center}
#fLayer .modal_layer .wrap_layer .btn_area button{display:inline-block;width:234px;height:90px;color:#e5ed00;font-size:30px;line-height:90px;font-weight:bold;text-align:center;background:url(../images/btn-layer.jpg) no-repeat}