@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input[type=checkbox], input[type=radio]{vertical-align:middle;position:relative}
input[type=radio]{bottom:2px}
#accessibility, .skip, hr, legend, caption{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.btn_comm {padding:0;margin:0;border:0;background:0;line-height:auto;cursor:pointer}
.clearfix{*zoom:1}
.clearfix:after{display:block;content:'';clear:both}
button{padding:0;margin:0;border:0;background:0; cursor:pointer}
button:focus,a:focus{outline:0}

/* common */
.wrap_section {position:relative;width:1080px;margin:0 auto;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color:rgb(191,36,36);
}


/* layout */
body{font-family:Arial, Helvetica, sans-serif, "Apple SD Gothic Neo";background:#000b14;}
/* jp - MS PGothic,Arial,Hiragino Kaku Gothic ProN,Osaka,sans-serif */
/* en - Arial, Helvetica, sans-serif */
#fWrap{min-width:1080px;width:100%;padding-top:0;}

/* fttbar */
.ftt_bar { position:fixed;top:0;width:100%;height:100px;background-color:#000000;z-index:2;}
.ftt_bar:after {content:'.'; display:block; clear:both; height:0; line-height:0; visibility:hidden;}
.ftt_bar .front { float:left;}
.ftt_bar .front .ci_logo { display:inline-block;margin:27px 0 0 99px;background:url(../images/common/ci_433.png) no-repeat;width:111px;height:47px;}
.ftt_bar .sns { float:right;text-align:right;padding-right:80px;}
.ftt_bar .sns a { display:inline-block;margin:22px 20px 0 0;width:58px;height:58px;background-image:url(../images/common/ico-sns.png);background-repeat:no-repeat;}
.ftt_bar .sns .bb_facebook { background-position:0 0}
.ftt_bar .sns .bb_youtube { background-position:100% 0}

/* #header */
#header {position:relative;max-width:2560px;height:1270px;margin:100px auto 0;z-index:1;overflow:hidden;background:url(../images/bg-dummy.jpg) 0 0 no-repeat;}
#header .wrap_section {height:1270px;position:relative;width:1080px;margin:0 auto;z-index:10}
#header .wrap_section h1 { position:absolute;top:138px;left:50%;width:938px;height:246px;margin-left:-469px;background:url(../images/img-logo.png) 0 0 no-repeat;text-indent:-1000px;}
#header .wrap_section h2 { position:absolute;top:812px;left:0;width:100%;height:67px;text-align:center;font-size:70px;color:#00d2ff;font-weight:600;} /* background:url(../images/tit-headtitle.png) center 0 no-repeat;text-indent:-1000px; */
#header .wrap_section h3 { position:absolute;top:757px;width:100%;text-align:center;font-size:40px;font-weight:400;color:#fff;line-height:1.3;letter-spacing:-1px;word-spacing:-1px;}
#header .wrap_section h4 { position:absolute;top:918px;width:100%;text-align:center;font-size:32px;font-weight:400;color:#fff;line-height:1.3;letter-spacing:-1px;word-spacing:-1px;}
#header .btn_play {position:absolute;top:515px;left:50%;width:162px;height:162px;overflow:hidden;background:url(../images/btn-play-movie.png) 0 0 no-repeat;z-index:40;margin-left:-81px;
  opacity:1;
  animation: opamoth 3s ease infinite 2s;
  -webkit-animation: opamoth 3s ease infinite 2s;
  -moz-animation: opamoth 3s ease infinite 2s;
  -ms-animation: opamoth 3s ease infinite 2s;
}
#header .btn_area {position:absolute;left:0;top:1015px;width:100%;text-align:center;z-index:41;}
#header .btn_area a { display:inline-block;width:312px;height:94px;margin:0px 10px;}
#header .btn_area .btn_ios {background:url(../images/btn-rat-ios.png) 0 0 no-repeat;z-index:41;}
#header .btn_area .btn_aos {background:url(../images/btn-rat-aos.png) 0 0 no-repeat;z-index:41;}
#header .bg_video {position:absolute;top:0px;left:0;min-width:100%;min-height:1270px;display:block;z-index:-1;} /* video disable display:none; */
#header .bg_video .bg {position:absolute;top:0px;left:0;width:2560px;height:1270px;z-index:2;background:url(../images/bg-header-overlay.png) center center repeat;}
#header .bg_video #videoMain {width:100%}
#header .link { position:absolute;bottom:149px;width:100%;text-align:center;z-index:100;}
#header .link > a { display:inline-block;height:76px;border:2px solid #fff;line-height:76px;padding:0 85px 0 35px;font-size:32px;color:#f2f3f3;font-weight:400;letter-spacing:-1px;word-spacing:-1px;background:url(../images/btn-down.png) 90% center no-repeat;text-decoration:none;z-index:1;}


#register {position:relative;height:1274px;background:url(../images/bg-preorder.jpg) center top no-repeat;z-index:0;}
#register h2 { position:absolute;top:150px;left:0;width:100%;height:65px;font-size:68px;color:#1f5a9f;text-align:center;font-weight:600;} /* text-indent:-1080px;background:url(../images/tit-preorder.png) center top no-repeat; */
#register h3 { position:absolute;top:232px;left:0;width:100%;text-align:center;font-size:30px;font-weight:400;color:#455d78;line-height:1.3;letter-spacing:-1px;word-spacing:-1px;}
#register .btn_gift { position:absolute;top:238px;left:50%;height:57px;line-height:57px;padding:0 46px 0 28px;margin-left:345px;border:1px solid #757e99;background:url(../images/bg-gift.png) 85% 50% no-repeat #dde5f0;font-size:30px;color:#444f6e;letter-spacing:-1px;word-spacing:-1px;}

.inp_os { position:relative;height:126px;}
#regForm .inp_os .os1{float:left}
#regForm .inp_os .os2{float:right}
#regForm .inp_os input[type="radio"]{opacity: 0;-webkit-appearance: none;display: inline-block;vertical-align: middle;z-index:100;margin:0;padding:0;width:100%;height:100%;position: absolute;left: 0;top:0;cursor: pointer}

#regForm .inp_os div .ez-radio{position:relative;width:334px;height:116px}
#regForm .inp_os .os1 .ez-radio{background:url(../images/tab-aos.png) no-repeat}
#regForm .inp_os .os2 .ez-radio{background:url(../images/tab-ios.png) no-repeat}
#regForm .inp_os .os1 .ez-radio.ez-selected{background:url(../images/tab-aos-active.png) no-repeat}
#regForm .inp_os .os2 .ez-radio.ez-selected{background:url(../images/tab-ios-active.png) no-repeat}

#regForm { position:absolute;top:360px;left:50%;margin-left:-150px;width:678px;}
#regForm form { width:100%;}
#regForm .inp_area1 {position:relative;width:100%;border:1px solid #b2bac3;background-color:#f2f7fc;}
#regForm .inp_area1 .mail {display:table;width:100%;}
#regForm .inp_area1 .mail .mail_wrap {display:table-cell;padding:0;vertical-align:middle}
#regForm .inp_area1 .mail .inp_mail {position:relative;vertical-align:middle;background:transparent;padding-left:0px;}
#regForm .inp_area1 .mail .inp_mail input {width:100%;height:92px;padding:0 8px;color:#34629b;font-size:35px;border:none;background:url(../images/txt-email.png) center center no-repeat transparent;outline:none;padding-top:1px;text-align:center;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
#regForm .inp_area1 .mail .inp_mail input.active{background:none}
#regForm .policy { position:relative;display:block;height:113px;margin-top:29px;}
#regForm .form_checkbox {position:relative;}
#regForm .form_checkbox label {width:43px;height:43px;cursor:pointer;position:absolute;top:0;left:0;background:url(../images/bg-checkbox.png) 0 0 no-repeat;}
#regForm .form_checkbox label span { position:absolute;top:8px;width:470px;margin-left:58px;vertical-align:top;font-size:22px;color:#162d49;line-height:1.3;letter-spacing:-1px;word-spacing:-1px;}
#regForm .form_checkbox input[type=checkbox] {visibility:hidden;width:100%;height:100%;opacity:0;}
#regForm .form_checkbox input[type=checkbox]:checked ~ label { background:url(../images/bg-checkbox.png) 0 100% no-repeat;}
#regForm .policy .btn_detail {position:absolute;right:0px;top:0px;display:block;min-width:142px;height:43px;background-color:#a4b3c6;color:#0b1828;font-size:18px;}
#regForm .submit { position:relative;display:block;}
#regForm .submit .btn_submit {position:absolute;right:0px;top:0px;min-width:385px;height:94px;font-size:32px;color:#ffdd00;font-weight:400;background:url(../images/common/ico-arrow-submit.png) 92.21% center no-repeat #3075cb;padding-right:12px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
#regForm .preorder_wrap { position:absolute;top:683px;}
#regForm .preorder_wrap:after { display:block;content:'';clear:both}
#regForm .preorder_wrap > a { float:left;width:329px;height:94px;} 
#regForm .preorder_wrap > a:first-of-type { margin-right:20px;}
#regForm .preorder_wrap > a.ios { background:url(../images/btn-bb-ios.png) no-repeat;}
#regForm .preorder_wrap > a.aos { background:url(../images/btn-bb-aos.png) no-repeat;}

/* #feature */
#feature {position:relative;height:992px;background:url(../images/bg-preview.jpg) center top no-repeat;z-index:0;overflow:hidden;}
#feature .wrap_section { height:100%;}
#feature .wrap_section h2 { position:absolute;top:98px;left:0;width:100%;height:65px;font-size:68px;color:#1f5a9f;text-align:center;font-weight:600;} /* background:url(../images/tit-preview.png) center 0 no-repeat;text-indent:-1000px; */
#feature .wrap_section h3 { position:absolute;top:179px;width:100%;text-align:center;font-size:30px;font-weight:400;color:#455d78;line-height:1.3;letter-spacing:-1px;word-spacing:-1px;}
#feature .wrap_slide { position:relative;width:910px;margin:0 auto;padding:259px 0 0;}
#feature .wrap_slide .bg { position:absolute;right:-361px;top:425px;width:276px;height:132px;background:url(../images/bg-char.png) no-repeat;z-index:2;}
#feature .wrap_slide .bg:before { content:"";position:absolute;left:-145px;top:-321px;width:506px;height:321px;background:url(../images/bg-char-front.png) no-repeat;z-index:2;}
#feature .wrap_slide .bg:after { content:"";position:absolute;left:-165px;top:132px;width:391px;height:409px;background:url(../images/bg-char-back.png) no-repeat;z-index:2;}
.slick-slide { position:relative;outline:0;border:1px solid #9d9ea3;}
.slick-slide img { outline:0;cursor:default;max-width:100%;}
.slick-slide img.none { cursor:default;}
.carousel .slick-slide img {width: 908px;height:510px;}
.carousel {position:relative;height:584px;padding-top:0px;z-index:1;}
.carousel .slick-track{min-width:100%}
.carousel .slick-dots {position:absolute;width:100%;height:22px;bottom:0px;text-align:center;z-index:20;}
.carousel .slick-dots li {display:inline-block;width:22px;height:22px;margin-right:10px;cursor:pointer;background-color:#acccf3;border-radius:100%;}
.carousel .slick-dots li button {width:100%;height:100%;font-size:0}
.carousel .slick-dots li.slick-active { width:42px;background-color:#3075cb;border-radius:11px;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}
.carousel button.slick-arrow {position:absolute;top:233px;width:27px;height:47px;font-size:0;border:none;z-index:200;}
.carousel button.slick-prev {left:-58px;background:url(../images/common/ico-arrow-left.png) no-repeat;}
.carousel button.slick-next {right:-58px;background:url(../images/common/ico-arrow-right.png) no-repeat;}
#movie { position:relative;height:2488px;background:url(../images/bg-movie.jpg) center top no-repeat;z-index:0;}
#movie .wrap_section { height:100%;overflow:hidden;}
#movie .wrap_section h2 { position:absolute;top:150px;left:0;width:100%;height:65px;font-size:68px;color:#fff;text-align:center;font-weight:600;} /* background:url(../images/tit-bb-movie.png) center 0 no-repeat;text-indent:-1000px; */
#movie .wrap_section h3 { position:absolute;top:232px;width:100%;text-align:center;font-size:30px;font-weight:400;color:#fff;line-height:1.3;letter-spacing:-1px;word-spacing:-1px;}
#movie .sec_movie { position:absolute;top:0;left:50%;overflow:hidden;margin-left:-455px;}
#movie .sec_movie.mv_cinema { top:322px;}
#movie .sec_movie.mv_play { top:1068px;}
#movie .sec_movie.mv_pvp { top:1814px;}
#movie .sec_movie h4 { width:100%;text-align:center;font-size:24px;color:#ffdd00;font-weight:400;line-height:1.3;letter-spacing:-1px;word-spacing:-1px;margin-top:28px;}

#community { position:relative;height:732px;background:url(../images/bg-sns.jpg) center top no-repeat;z-index:0;}
#community .wrap_section { height:100%;}
#community .wrap_section h2 { position:absolute;top:150px;left:0;width:100%;height:65px;font-size:68px;color:#fff;text-align:center;font-weight:600;} /* background:url(../images/tit-community.png) center 0 no-repeat;text-indent:-1000px; */
#community .wrap_section h3 { position:absolute;top:246px;width:100%;text-align:center;font-size:24px;font-weight:400;color:#fff;line-height:1.3;letter-spacing:-1px;word-spacing:-1px;}
#community .btn_area {position:absolute;bottom:212px;font-size:0;width:100%;text-align:center;}
#community .btn_area a { display:inline-block;width:325px;height:94px;margin:0 10px;}
#community .btn_area a.btn_facebook { background:url(../images/btn-facebook.png) 0 0 no-repeat;}
#community .btn_area a.btn_youtube { background:url(../images/btn-youtube.png) 0 0 no-repeat;}

background:url(../images/common/ico-arrow-submit.png) 92.21% center no-repeat #3075cb;

#community .btn_forum span { height:94px;line-height:94px;}

/* #footer */
#footer {position:relative;height:225px;background-color:#232d40;}
#footer .wrap_section { height:100%;}
#footer .copyright { position:absolute;bottom:68px;width:100%;height:15px;background:url(../images/img-copyright.png) center top no-repeat;}
#footer .link { width:100%;padding-top:38px;text-align:center;font-size:0;}
#footer .link li { display:inline-block;min-width:260px;height:66px;vertical-align:center;margin:0 10px;}
#footer .link li a { position:relative;display:block;width:100%;height:100%;font-size:24px;text-align:left;color:#8ba3ce;text-decoration:none;padding:23px 28px 0 81px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
#footer .link li.contact { background-color:#313f57;}
#footer .link li.contact a:before { content:"";position:absolute;left:30px;top:19px;width:40px;height:31px;background:url(../images/common/ico-quest.png) 0 0 no-repeat;}

/* #fLayer */
#fLayer{display:none;position:absolute;left:0;top:0;width:100%;height:100%;z-index:50}
#fLayer .bg_layer{position:absolute;left:0;top:0;width:100%;height:100%;background:#000}
#fLayer .wrap_layer{position:relative;z-index:60}
#fLayer .wrap_layer .policy {display:none}

#fLayer .wrap_layer .complete{display:none;position:absolute;left:50%;width:698px;height:398px;padding:0px;margin-left:-349px;z-index:50;background-color:#001630;border:1px solid #005cc7;}
#fLayer .wrap_layer .complete .wrap_complete {padding:0;}
#fLayer .wrap_layer .complete .wrap_complete .message { display:table;width:100%;}
#fLayer .wrap_layer .complete .wrap_complete .message > div { display:table-cell;height:268px;font-size:38px;color:#92bae9;text-align:center;padding:0 12px;vertical-align:middle;line-height:1.3;}
#fLayer .wrap_layer .complete .wrap_complete .message > div p { font-size:24px;padding-top:24px;}
#fLayer .wrap_layer .complete .btn_area {text-align:center;margin-top:0px;}

#fLayer .wrap_layer .policy {display:none;position:absolute;left:50%;width:800px;height:750px;margin-left:-400px;z-index:50;} /* background:url(../images/bg-privacy.jpg) no-repeat; */
#fLayer .wrap_layer .policy .btn_close { position:absolute;right:0;top:-95px;}
#fLayer .wrap_layer .policy .wrap_image { position:relative;width:100%;height:750px;padding:48px 75px 0;border:1px solid #005cc6;background-color:#011631;color:#90bced;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;line-height:1.3;}
#fLayer .wrap_layer .policy .wrap_image h1 { font-size:30px;text-align:center;margin-bottom:12px;}
#fLayer .wrap_layer .policy .wrap_image p { padding:8px 0;}
#fLayer .wrap_layer .policy .wrap_image strong { font-size:24px;}
#fLayer .wrap_layer .policy .wrap_image ol { margin-bottom:12px;}
#fLayer .wrap_layer .policy .wrap_image ol > li { margin-bottom:6px;}
#fLayer .wrap_layer .policy .wrap_image > .btn_close { position:absolute;left:50%;top:620px;margin-left:-100px;}

#fLayer .wrap_layer .reward {display:none;position:absolute;left:50%;width:900px;height:680px;margin-left:-450px;z-index:50;} /* background:url(../images/bg-privacy.jpg) no-repeat; */
#fLayer .wrap_layer .reward .btn_close { position:absolute;right:0;top:-95px;}
#fLayer .wrap_layer .reward .wrap_image { position:relative;width:100%;height:100%;background:url(../images/bg-reward.png) no-repeat;}
#fLayer .wrap_layer .reward .wrap_image > .btn_close { position:absolute;left:50%;top:550px;margin-left:-100px;}

#fLayer .video{display:none;position:absolute;left:50%;width:1000px;height:562px;margin-left:-500px;z-index:50} /* height:722px; */
#fLayer .video .viewer{overflow:hidden;width:1000px;height:562px;background:#000;}
#fLayer .video .viewer div iframe{width:100%;height:562px}
#fLayer .video .btn_close {position:absolute;right:-100px;top:0px}


/* External slick Slider */
.slick-slider{position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before,
.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}


@keyframes leaves {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
@-webkit-keyframes opamoth {
  0% {
    opacity:1;
    transform: scale(1.0);
  }
  50% {
    opacity:0.8;
    transform: scale(0.9);
  }
  100% {
    opacity:1;
    transform: scale(1.0);
  }
}