@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body {line-height:1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
input[type=checkbox], input[type=radio]{vertical-align:middle;position:relative}
input[type=radio]{bottom:2px}
#accessibility, .skip, hr, legend, caption{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
button{padding:0;margin:0;border:0;background:0;line-height:normal;cursor:pointer;outline:none;box-shadow:none}
li,a,button{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.clearfix{*zoom:1}
.clearfix:after{display:block;content:'';clear:both;}


/* layout */
img{max-width:980px !important}
body{font-size:0}
#fWrap{position:relative;width:980px;margin:0 auto}

/* #header */
#header{position:relative;width:100%;height:1045px;background-position:center top;background-repeat:no-repeat}
#fWrap.ko #header{background-image:url(../images/bg-header-ko.jpg)}
#fWrap.en #header{background-image:url(../images/bg-header-en.jpg)}
#fWrap.ja #header{background-image:url(../images/bg-header-ja.jpg)}
#fWrap.th #header{background-image:url(../images/bg-header-th.jpg)}
#fWrap.zh-CN #header{background-image:url(../images/bg-header-hans.jpg)}
#fWrap.zh-TW #header{background-image:url(../images/bg-header-hant.jpg)}


/* .quest */
#container .quest{overflow:hidden;margin-top:-10px;}
#container .quest ul{padding:40px 0 0 244px}
#container .quest ul:after{display:block;content:'';clear:both}
#container .quest ul li{float:left;position:relative;width:192px;height:265px;padding:139px 15px 0 15px;margin-right:20px}
#container .quest ul li:nth-of-type(3n){margin-right:0}

#container .quest ul li .wrap_reward{display:table;width:100%;height:60px}
#container .quest ul li .wrap_reward .reward-title{display:table-cell;font-size:16px;line-height:22px;text-align:center;vertical-align:middle}

#container .quest ul li .wrap_title{display:table;width:100%;height:106px;margin-top:10px}
#container .quest ul li .wrap_title > div{display:table-cell;font-size:20px;line-height:24px;text-align:center;letter-spacing:-1px;vertical-align:middle}
#container .quest ul li .wrap_title .status{display:inline-block;width:100%;padding-top:5px;color:#cf0000;text-align:center;}

#container .quest ul li .wrap_btn{display:table;position:absolute;left:0px;bottom:0;width:222px;height:84px}
#container .quest ul li .wrap_btn .btn{display:table-cell;padding-bottom:5px;font-size:30px;text-align:center;font-weight:bold;vertical-align:middle;background-repeat:no-repeat}
#container .quest ul li .wrap_btn .btn .btn_normal{color:#a2b372}
#container .quest ul li .wrap_btn .btn .btn_end{display:none;color:#51754d}

#container .quest ul li.ready .wrap_btn{bottom:0;height:88px;background:url(../images/btn-ready.png) no-repeat}
#container .quest ul li.ready .wrap_btn .btn{padding-bottom:10px;cursor:pointer}

#container .quest ul li.end .wrap_btn{background:url(../images/btn-end.png) no-repeat}
#container .quest ul li.end .wrap_btn .btn{padding-bottom:1px}
#container .quest ul li.end .wrap_btn .btn .btn_normal{display:none}
#container .quest ul li.end .wrap_btn .btn .btn_end{display:inline}

body.ios #fWrap #container .quest ul li .wrap_btn .btn,
body.ios #fWrap #container .quest ul li.ready .wrap_btn{padding:0 !important}
body.ios #fWrap #container .quest ul li.end .wrap_btn .btn{padding-top:5px}

#container #quest1{height:475px}
#fWrap.ko #container #quest1{background-image:url(../images/bg-section1-ko.jpg)}
#fWrap.en #container #quest1{background-image:url(../images/bg-section1-en.jpg)}
#fWrap.ja #container #quest1{background-image:url(../images/bg-section1-ja.jpg)}
#fWrap.th #container #quest1{background-image:url(../images/bg-section1-th.jpg)}
#fWrap.zh-CN #container #quest1{background-image:url(../images/bg-section1-hans.jpg)}
#fWrap.zh-TW #container #quest1{background-image:url(../images/bg-section1-hant.jpg)}
#container #quest1 ul li .wrap_reward .reward-title{color:#fddca7}
#container #quest1 ul li .wrap_title .quest-title{color:#7a3100}
#container #quest1 ul li .wrap_btn .btn .btn_normal{color:#c58927}
#container #quest1 ul li.ready .wrap_btn{background-position:left top}
#container #quest1 ul li.ready .wrap_btn .btn .btn_normal{color:#eb4700}
#container #quest1 ul li.end .wrap_btn{background-position:left top}
#container #quest1 ul li.end .wrap_btn .btn .btn_end{color:#704500}

#container #quest2{height:474px}
#fWrap.ko #container #quest2{background-image:url(../images/bg-section2-ko.jpg)}
#fWrap.en #container #quest2{background-image:url(../images/bg-section2-en.jpg)}
#fWrap.ja #container #quest2{background-image:url(../images/bg-section2-ja.jpg)}
#fWrap.th #container #quest2{background-image:url(../images/bg-section2-th.jpg)}
#fWrap.zh-CN #container #quest2{background-image:url(../images/bg-section2-hans.jpg)}
#fWrap.zh-TW #container #quest2{background-image:url(../images/bg-section2-hant.jpg)}
#container #quest2 ul li .wrap_reward .reward-title{color:#f9c1a6}
#container #quest2 ul li .wrap_title .quest-title{color:#720500}
#container #quest2 ul li .wrap_btn .btn .btn_normal{color:#cd7245}
#container #quest2 ul li.ready .wrap_btn{background-position:left -88px}
#container #quest2 ul li.ready .wrap_btn .btn .btn_normal{color:#db0102}
#container #quest2 ul li.end .wrap_btn{background-position:left -84px}
#container #quest2 ul li.end .wrap_btn .btn .btn_end{color:#7f282e}

#container #quest3{height:475px}
#fWrap.ko #container #quest3{background-image:url(../images/bg-section3-ko.jpg)}
#fWrap.en #container #quest3{background-image:url(../images/bg-section3-en.jpg)}
#fWrap.ja #container #quest3{background-image:url(../images/bg-section3-ja.jpg)}
#fWrap.th #container #quest3{background-image:url(../images/bg-section3-th.jpg)}
#fWrap.zh-CN #container #quest3{background-image:url(../images/bg-section3-hans.jpg)}
#fWrap.zh-TW #container #quest3{background-image:url(../images/bg-section3-hant.jpg)}
#container #quest3 ul li .wrap_reward .reward-title{color:#febfea}
#container #quest3 ul li .wrap_title .quest-title{color:#540052}
#container #quest3 ul li .wrap_btn .btn .btn_normal{color:#bd4db9}
#container #quest3 ul li.ready .wrap_btn{background-position:left -176px}
#container #quest3 ul li.ready .wrap_btn .btn .btn_normal{color:#d2007d}
#container #quest3 ul li.end .wrap_btn{background-position:left -168px}
#container #quest3 ul li.end .wrap_btn .btn .btn_end{color:#56004b}

#container #quest4{height:973px}
#container #quest4 li{margin-bottom:19px}
#fWrap.ko #container #quest4{background-image:url(../images/bg-section4-ko.jpg)}
#fWrap.en #container #quest4{background-image:url(../images/bg-section4-en.jpg)}
#fWrap.ja #container #quest4{background-image:url(../images/bg-section4-ja.jpg)}
#fWrap.th #container #quest4{background-image:url(../images/bg-section4-th.jpg)}
#fWrap.zh-CN #container #quest4{background-image:url(../images/bg-section4-hans.jpg)}
#fWrap.zh-TW #container #quest4{background-image:url(../images/bg-section4-hant.jpg)}
#container #quest4 ul li .wrap_reward .reward-title{color:#a4d7ff}
#container #quest4 ul li .wrap_title .quest-title{color:#000b71}
#container #quest4 ul li .wrap_btn .btn .btn_normal{color:#587eeb}
#container #quest4 ul li.ready .wrap_btn{background-position:left bottom}
#container #quest4 ul li.ready .wrap_btn .btn .btn_normal{color:#5200e8}
#container #quest4 ul li.end .wrap_btn{background-position:left bottom}
#container #quest4 ul li.end .wrap_btn .btn .btn_end{color:#3438cf}

#container #questTotal{position:absolute;left:0;top:695px;width:100%;height:390px;background:url(../images/bg-section5.jpg) no-repeat}
#container #questTotal ul{position:relative;height:351px;padding:50px 0 0 0;}
#container #questTotal ul li{float:left;position:relative;width:230px;height:175px;padding:0;margin:0 0 0 66px}
#container #questTotal ul li:last-of-type{float:right;margin:0 211px 0 0}

#container #questTotal ul li .wrap_title{height:45px;margin:0;padding:0}
#container #questTotal ul li .wrap_title .quest-title{color:#fff600;font-size:30px;font-weight:bold;text-align:left;vertical-align:top}
#container #questTotal ul li .wrap_reward{height:47px;margin:0;padding:0}
#container #questTotal ul li .wrap_reward .reward-title{color:#282800;font-size:20px;font-weight:bold;text-align:left;vertical-align:top}

#container #questTotal ul li .wrap_btn{position:static;width:215px;height:78px;padding-bottom:5px;background:none}
#container #questTotal ul li .wrap_btn .btn{padding:0;}
#container #questTotal ul li .wrap_btn .btn .btn_normal{font-size:33px;color:#3d8072}

#container #questTotal ul li.ready .wrap_btn{background:url(../images/btn-total.png) left top no-repeat}
#container #questTotal ul li.ready .wrap_btn .btn_normal{color:#d64100}
#container #questTotal ul li.end .wrap_btn {background:url(../images/btn-total.png) left bottom no-repeat}
#container #questTotal ul li.end .wrap_btn .btn .btn_end{color:#146366}

/* #footer */
#footer li{position:absolute;left:0;top:997px;width:100%;height:39px;color:#fff;font-size:20px;text-align:center}
#footer li .bu{display:inline-block;margin-right:5px}


/* lang font-size */
#fWrap.en #container .quest ul li .wrap_reward .reward-title,
#fWrap.en #container .quest ul li .wrap_title > div{letter-spacing:-1px}
#fWrap.en #container #questTotal ul li .wrap_title .quest-title{font-size:22px;letter-spacing:-1px}
#fWrap.en #container #questTotal ul li .wrap_reward .reward-title{font-size:18px}

#fWrap.ja #container .quest ul li .wrap_reward .reward-title,
#fWrap.ja #container .quest ul li .wrap_title > div{letter-spacing:-1px}
#fWrap.ja #container #questTotal ul li .wrap_title .quest-title{font-size:21px;letter-spacing:-1px}

#fWrap.th #container .quest ul li .wrap_reward .reward-title,
#fWrap.th #container .quest ul li .wrap_title > div{letter-spacing:-1px}
#fWrap.th #container #questTotal ul li .wrap_title .quest-title{font-size:24px}
#fWrap.th #container #questTotal ul li .wrap_reward .reward-title{font-size:18px}

#fWrap.zh-CN #container .quest ul li .wrap_reward .reward-title,
#fWrap.zh-CN #container .quest ul li .wrap_title > div{letter-spacing:-1px}
#fWrap.zh-CN #container #questTotal ul li .wrap_title .quest-title{font-size:25px}
#fWrap.zh-CN #container #questTotal ul li .wrap_reward .reward-title{font-size:20px}

#fWrap.zh-TW #container .quest ul li .wrap_reward .reward-title,
#fWrap.zh-TW #container .quest ul li .wrap_title > div{letter-spacing:-1px}
#fWrap.zh-TW #container #questTotal ul li .wrap_title .quest-title{font-size:25px}
#fWrap.zh-TW #container #questTotal ul li .wrap_reward .reward-title{font-size:20px}


/* test */
#fWrap .test{position:fixed;right:0;top:120px;}
#fWrap .test button{display:block;width:120px;padding:10px 0;border-right:2px solid #000;border-bottom:2px solid #000;margin-bottom:5px;color:#000;font-size:13px;text-align:center;background:#ccc}
#fWrap .test button.active{font-weight:bold;background:#fff}

/* layer */
#fLayer{display:none;position:absolute;left:0;top:0;width:100%;height:100%}
#fLayer .bg_layer{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.9);z-index:15}
#fLayer .modal_layer{position:fixed;left:50%;top:0;width:609px;height:376px;margin:0 0 0 -304px;z-index:20;transition: transform 0.3s ease;transform: scale(0,0)}
#fLayer.active .modal_layer{transform: scale(1,1)}
#fLayer .modal_layer .wrap_layer{position:relative;padding-top:73px;border:2px solid #b64c2b;background:#1d0508}
#fLayer .modal_layer .wrap_layer .title{display:none}
#fLayer .modal_layer .wrap_layer .msg{position:relative;top:-1px;display:table;width:100%;min-height:115px;text-align:center;}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg{display:table-cell;padding:10px 20px 20px 20px;color:#ffb606;font-size:33px;line-height:40px;font-weight:bold;vertical-align:middle}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg span{display:block;padding-top:10px;color:#d0a94a;font-size:20px;letter-spacing:0}
#fLayer .modal_layer .wrap_layer .btn_area{position:relative;top:-2px;height:145px;text-align:center}
#fLayer .modal_layer .wrap_layer .btn_area button{display:inline-block;width:234px;height:90px;color:#e5ed00;font-size:30px;line-height:90px;font-weight:bold;text-align:center;background:url(../images/btn-layer.jpg) no-repeat}