@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body {line-height:1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
input[type=checkbox], input[type=radio]{vertical-align:middle;position:relative}
input[type=radio]{bottom:2px}
#accessibility, .skip, hr, legend, caption{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
button{padding:0;margin:0;border:0;background:0;line-height:normal;cursor:pointer;outline:none;box-shadow:none}
li,a,button{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.clearfix{*zoom:1}
.clearfix:after{display:block;content:'';clear:both;}


/* layout */
img{max-width:980px !important}
body{font-size:0;}
#fWrap{position:relative;width:980px;margin:0 auto}

/* #header */
#header{position:relative;width:100%;height:420px}
#fWrap.ko #header{background:url(../images/bg-header-ko.jpg?time=1217)}
#fWrap.en #header{background:url(../images/bg-header-en.jpg?time=1217)}
#fWrap.ja #header{background:url(../images/bg-header-ja.jpg?time=1217)}
#fWrap.th #header{background:url(../images/bg-header-th.jpg?time=1217)}
#fWrap.zh-CN #header{background:url(../images/bg-header-hans.jpg?time=1217)}
#fWrap.zh-TW #header{background:url(../images/bg-header-hant.jpg?time=1217)}

/* pointInfo */
#event1 {position:relative;margin-top:-10px;height:759px;background:url(../images/bg-point-ko.jpg) center top no-repeat;}
#fWrap.ko #event1{background:url(../images/bg-point-ko.jpg)}
#fWrap.en #event1{background:url(../images/bg-point-en.jpg)}
#fWrap.ja #event1{background:url(../images/bg-point-ja.jpg)}
#fWrap.th #event1{background:url(../images/bg-point-th.jpg)}
#fWrap.zh-CN #event1{background:url(../images/bg-point-hans.jpg?time=v3)}
#fWrap.zh-TW #event1{background:url(../images/bg-point-hant.jpg?time=v3)}

#event1 .point{position:relative;}
#event1 .point .use{position:absolute;top:288px;left:95px;width:233px;font-size:42px;text-align:center;color:#ffdd03;}
#event1 .point .use:after {content:'P'; display:inline-block; clear:both;padding-left:4px;}
#event1 .point .status{position:absolute;top:288px;right:88px;width:233px;font-size:42px;text-align:center;color:#ffdd03;}
#event1.ready { }
#event1.ready .btn{position:absolute;top:107px;left:352px;width:279px;height:279px;cursor:pointer;}
#fWrap.ios #event1 .point .status,
#fWrap.ios #event1 .point .use { top:291px;}

#fWrap.ko #event1.ready .btn {background:url(../images/btn-gacha-ko.png) center center no-repeat;}
#fWrap.en #event1.ready .btn {background:url(../images/btn-gacha-en.png) center center no-repeat;}
#fWrap.ja #event1.ready .btn {background:url(../images/btn-gacha-ja.png) center center no-repeat;}
#fWrap.th #event1.ready .btn {background:url(../images/btn-gacha-th.png) center center no-repeat;}
#fWrap.zh-CN #event1.ready .btn {background:url(../images/btn-gacha-hans.png) center center no-repeat;}
#fWrap.zh-TW #event1.ready .btn {background:url(../images/btn-gacha-hant.png) center center no-repeat;}


#event1.loading .bg {position:absolute;top:105px;left:355px;width:280px;height:285px;background:url(../images/img-loading.gif) center center no-repeat;border-radius:0;}

/* #quest */
#quest{overflow:hidden;height:388px;margin-top:-10px;background:url(../images/bg-quest.jpg) center top no-repeat}
#quest ul {width:754px;padding-top:26px;margin-left:113px;}
#quest ul:after {content:'.'; display:block; clear:both; height:0; line-height:0; visibility:hidden;}
#quest ul li{position:relative;float:left;width:225px;height:320px;margin:0 40px 0 0;}
#quest ul li:nth-of-type(2) {margin-right:39px;}
#quest ul li:nth-of-type(3n) {margin-right:0;}

#quest ul li .wrap_title {display:table;position:absolute;left:0;top:11px;width:100%;height:65px;}
#quest ul li .wrap_title .cell { display:table-cell;text-align:center;vertical-align:middle;font-weight:600;}
#quest ul li .wrap_title .quest-title { display:inline;color:#3d1f16;font-size:26px;line-height:26px;}
#quest ul li .wrap_title .status { color:#3d1f16;font-size:16px;letter-spacing:1px;word-spacing:0;}
#fWrap.th #quest ul li .wrap_title .status,
#fWrap.en #quest ul li .wrap_title .status { display:inline;padding-left:6px;}

#quest ul li .wrap_reward{display:table;position:absolute;left:16px;bottom:73px;width:192px;height:46px;}
#quest ul li .wrap_reward .reward-title{display:table-cell;color:#3d1f16;font-size:16px;line-height:20px;text-align:center;vertical-align:middle}

#quest ul li .wrap_btn{display:table;position:absolute;left:26px;bottom:18px;width:173px;height:55px;}
#quest ul li .wrap_btn .btn{display:table-cell;font-size:23px;text-align:center;vertical-align:middle}

#quest ul li.quest1 .wrap_btn .btn .btn_normal {color:#92735d}
#quest ul li.quest1 .wrap_btn .btn .btn_end{display:none;color:#9d2d16}
#quest ul li.quest1.ready .wrap_btn .btn {width:173px;height:55px;background:url(../images/btn-quest.png) no-repeat center top;cursor:pointer}
#quest ul li.quest1.ready .wrap_btn .btn .btn_normal {color:#ffde00;}
#quest ul li.quest1.end .wrap_btn {background:url(../images/btn-quest.png) no-repeat center bottom}
#quest ul li.quest1.end .wrap_btn .btn .btn_normal {display:none;}
#quest ul li.quest1.end .wrap_btn .btn .btn_end {display:inline}

/* #footer */
#footer{position:relative;height:285px;margin-top:-10px}
#fWrap.ko #footer{background:url(../images/bg-footer-ko.jpg)}
#fWrap.en #footer{background:url(../images/bg-footer-en.jpg)}
#fWrap.ja #footer{background:url(../images/bg-footer-ja.jpg)}
#fWrap.th #footer{background:url(../images/bg-footer-th.jpg)}
#fWrap.zh-CN #footer{background:url(../images/bg-footer-hans.jpg)}
#fWrap.zh-TW #footer{background:url(../images/bg-footer-hant.jpg)}


/* lang font-size */
#fWrap.ja #container .quest ul li .quest-title{font-size:20px}
#fWrap.ja #container .quest ul li .wrap_reward .reward-title{font-size:14px}
#fWrap.th #container .quest ul li .quest-title{font-size:22px}
#fWrap.th #container .quest ul li .wrap_reward .reward-title{font-size:13px}

/* test */
#fWrap .test{position:fixed;right:0;top:120px;}
#fWrap .test button{display:block;width:120px;padding:10px 0;margin-bottom:5px;border-right:2px solid #000;border-bottom:2px solid #000;color:#000;font-size:13px;text-align:center;background:#ccc}
#fWrap .test button.active{font-weight:bold;background:#fff}

/* layer */
#fLayer{display:none;position:absolute;left:0;top:0;width:100%;height:100%}
#fLayer .bg_layer{position:absolute;left:0;top:0;z-index:15;width:100%;height:100%;background:rgba(0,0,0,0.9);}
#fLayer .modal_layer{position:fixed;left:50%;top:0;z-index:20;width:609px;height:376px;margin:0 0 0 -304px;transition: transform 0.3s ease;transform: scale(0,0)}
#fLayer.active .modal_layer{transform: scale(1,1)}
#fLayer .modal_layer .wrap_layer{position:relative;padding-top:73px;border:2px solid #b64c2b;background:#1d0508}
#fLayer .modal_layer .wrap_layer .title{display:none}
#fLayer .modal_layer .wrap_layer .msg{display:table;position:relative;top:-1px;width:100%;min-height:115px;text-align:center;}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg{display:table-cell;padding:10px 20px 20px 20px;color:#ffb606;font-size:33px;line-height:40px;font-weight:bold;vertical-align:middle}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg span{display:block;padding-top:10px;color:#d0a94a;font-size:20px;letter-spacing:0}
#fLayer .modal_layer .wrap_layer .btn_area{position:relative;top:-2px;height:145px;text-align:center}
#fLayer .modal_layer .wrap_layer .btn_area button{display:inline-block;width:234px;height:90px;color:#e5ed00;font-size:30px;line-height:90px;font-weight:bold;text-align:center;background:url(../images/btn-layer.jpg) no-repeat}