@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body {line-height:1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
input[type=checkbox], input[type=radio]{vertical-align:middle;position:relative}
input[type=radio]{bottom:2px}
#accessibility, .skip, hr, legend, caption{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
button{padding:0;margin:0;border:0;background:0;line-height:normal;cursor:pointer;outline:none;box-shadow:none}
li,a,button{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.clearfix{*zoom:1}
.clearfix:after{display:block;content:'';clear:both;}


/* layout */
img{max-width:980px !important}
body{font-size:0}
#fWrap{position:relative;width:980px;margin:0 auto}

/* #header */
#header{position:relative}
#header .title{height:761px}
#fWrap.ko #header .title{background:url(../images/bg-header-ko.jpg)}
#fWrap.en #header .title{background:url(../images/bg-header-en.jpg)}
#fWrap.ja #header .title{background:url(../images/bg-header-ja.jpg)}
#fWrap.th #header .title{background:url(../images/bg-header-th.jpg)}
#fWrap.zh-CN #header .title{background:url(../images/bg-header-hans.jpg)}
#fWrap.zh-TW #header .title{background:url(../images/bg-header-hant.jpg)}

#header .info{height:275px;margin-top:-10px}
#fWrap.ko #header .info{background:url(../images/bg-info-ko.jpg)}
#fWrap.en #header .info{background:url(../images/bg-info-en.jpg)}
#fWrap.ja #header .info{background:url(../images/bg-info-ja.jpg)}
#fWrap.th #header .info{background:url(../images/bg-info-th.jpg)}
#fWrap.zh-CN #header .info{background:url(../images/bg-info-hans.jpg)}
#fWrap.zh-TW #header .info{background:url(../images/bg-info-hant.jpg)}

#header .point{display:table;width:100%;height:166px;margin-top:-10px;}
#header .point .wrap_point{display:table-cell;padding:34px 135px 27px 370px;vertical-align:middle;text-align:right}
#header .point .wrap_point .val{color:#ffe74e;font-size:58px;letter-spacing:2px}
#fWrap.ko #header .point{background:url(../images/bg-point-ko.jpg)}
#fWrap.en #header .point{background:url(../images/bg-point-en.jpg)}
#fWrap.ja #header .point{background:url(../images/bg-point-ja.jpg)}
#fWrap.th #header .point{background:url(../images/bg-point-th.jpg)}
#fWrap.zh-CN #header .point{background:url(../images/bg-point-hans.jpg)}
#fWrap.zh-TW #header .point{background:url(../images/bg-point-hant.jpg)}

/* #pointInfo */
#container #pointInfo{position:relative;height:505px}
#fWrap.ko #container #pointInfo{background:url(../images/bg-point-kr.jpg)}
#fWrap.en #container #pointInfo{background:url(../images/bg-point-en.jpg)}
#fWrap.ja #container #pointInfo{background:url(../images/bg-point-ja.jpg)}
#fWrap.th #container #pointInfo{background:url(../images/bg-point-th.jpg)}
#fWrap.zh-CN #container #pointInfo{background:url(../images/bg-point-hans.jpg)}
#fWrap.zh-TW #container #pointInfo{background:url(../images/bg-point-hant.jpg)}
#container #pointInfo .point{position:absolute;right:172px;top:363px;width:400px;height:53px;color:#fff;font-size:40px;line-height:53px;font-weight:bold;text-align:right}

/* #totalQuest */
#container #quest{overflow:hidden;height:709px;background:url(../images/bg-quest.jpg) no-repeat}
#container #quest ul{width:872px;padding-top:10px;margin-left:53px}
#container #quest ul:after{display:block;content:'';clear:both}
#container #quest ul li{float:left;position:relative;width:160px;height:311px;margin:0 18px 16px 0}
#container #quest ul li:nth-of-type(5n){float:right;margin-right:0}
#container #quest ul li.list_type2{height:341px}

#container #quest ul li .wrap_title{display:table;width:100%;height:82px;margin-bottom:104px}
#container #quest ul li .quest-title{display:table-cell;padding-top:7px;color:#00b175;font-size:20px;line-height:25px;text-align:center;vertical-align:middle}
#container #quest ul li .quest-title span{color:#76eb1f}
#container #quest ul li .wrap_reward{display:table;width:100%;height:60px}
#container #quest ul li .wrap_reward .reward-title{display:table-cell;color:#60a695;font-size:16px;line-height:20px;text-align:center;vertical-align:middle}

#container #quest ul li.list_type2 .wrap_reward{height:82px}

#container #quest ul li .wrap_btn{display:table;position:absolute;left:0px;bottom:0;width:100%;height:66px}
#container #quest ul li .wrap_btn .btn{display:table-cell;font-size:30px;text-align:center;font-weight:bold;vertical-align:middle;background:url(../images/btn-quest.png) -9999px -9999px no-repeat}
#container #quest ul li .wrap_btn .btn .btn_normal{color:#7fb99a}
#container #quest ul li .wrap_btn .btn .btn_end{display:none;color:#007f73}

#container #quest ul li.ready .wrap_btn .btn{cursor:pointer;background-position:left top}
#container #quest ul li.ready .wrap_btn .btn .btn_normal{color:#fff}

#container #quest ul li.end .wrap_btn .btn{background-position:left bottom}
#container #quest ul li.end .wrap_btn .btn .btn_normal{display:none}
#container #quest ul li.end .wrap_btn .btn .btn_end{display:inline}

#footer{clear:both;margin-top:-10px;height:129px;background:url(../images/bg-footer.jpg) no-repeat}
#footer ul{width:615px;padding-top:10px;margin-left:68px}
#footer li{position:relative;padding-bottom:5px;color:#57afac;font-size:18px;line-height:25px;text-align:left}
#footer li .bu{position:absolute;left:0;top:0px;font-size:8px;vertical-align:middle}


/* lang font-size */
#fWrap.en #container #quest ul li .wrap_btn .btn{font-size:25px}
#fWrap.ja #container #quest ul li .quest-title{font-size:20px}
#fWrap.ja #container #quest ul li .wrap_reward .reward-title{font-size:14px}
#fWrap.th #container #quest ul li .quest-title{font-size:24px}
#fWrap.th #container #quest ul li .wrap_reward .reward-title{font-size:14px}


/* test */
#fWrap .test{position:fixed;right:0;top:120px;}
#fWrap .test button{display:block;width:120px;padding:10px 0;border-right:2px solid #000;border-bottom:2px solid #000;margin-bottom:5px;color:#000;font-size:13px;text-align:center;background:#ccc}
#fWrap .test button.active{font-weight:bold;background:#fff}

/* layer */
#fLayer{display:none;position:absolute;left:0;top:0;width:100%;height:100%}
#fLayer .bg_layer{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.9);z-index:15}
#fLayer .modal_layer{position:fixed;left:50%;top:0;width:609px;height:376px;margin:0 0 0 -304px;z-index:20;transition: transform 0.3s ease;transform: scale(0,0)}
#fLayer.active .modal_layer{transform: scale(1,1)}
#fLayer .modal_layer .wrap_layer{position:relative;padding-top:73px;border:2px solid #b64c2b;background:#1d0508}
#fLayer .modal_layer .wrap_layer .title{display:none}
#fLayer .modal_layer .wrap_layer .msg{position:relative;top:-1px;display:table;width:100%;min-height:115px;text-align:center;}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg{display:table-cell;padding:10px 20px 20px 20px;color:#ffb606;font-size:33px;line-height:40px;font-weight:bold;vertical-align:middle}
#fLayer .modal_layer .wrap_layer .msg .wrap_msg span{display:block;padding-top:10px;color:#d0a94a;font-size:20px;letter-spacing:0}
#fLayer .modal_layer .wrap_layer .btn_area{position:relative;top:-2px;height:145px;text-align:center}
#fLayer .modal_layer .wrap_layer .btn_area button{display:inline-block;width:234px;height:90px;color:#e5ed00;font-size:30px;line-height:90px;font-weight:bold;text-align:center;background:url(../images/btn-layer.jpg) no-repeat}